@use "variables" as v;
@use "mixins" as m;

.nav-bar {
  @include m.flex-container(flex, row, center, center);
  padding: 5px;
  background-color: v.$color-primario;

  img {
    height: 40px;
    width: auto;
    margin: 0 2rem;
  }

  .nav-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;

    &:first-child {
      flex: 1;
    }

    &:nth-child(2) {
      flex: 2;
      justify-content: center;
    }

    &:last-child {
      flex: 1;
      justify-content: flex-end;
      margin-right: 20px;
    }
  }

  .nav-lista li:hover {
    transform: scale(1.2);
  }
  

  input,
  button {
    height: 40px;
  }

  .nav-lista {
    display: flex;
    gap: 15px;
    a {
      font-weight: bold;
      text-decoration: none;
      color: v.$color-fuente-principal;
    }
  }

  form {
    width: 100%;
    max-width: 300px;

    input[type="search"] {
      width: 100%;
      padding: 8px;
      border-radius: 20px;
    }
  }

  button {
    background-color: v.$color-secundario;
    border: 1px solid v.$color-fuente-principal;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: v.$color-secundario-hover;
      border-color: v.$color-secundario-hover;
    }

    svg {
      vertical-align: middle;
    }
  }
}

@media (max-width: 768px) { 
  .nav-bar{
    display: none;
  }
}