$font-family: 'Roboto', sans-serif;

//Colores
$color-primario: #f79e78;
$color-secundario: hsl(236, 100%, 80%);
$color-secundario-hover: hsl(236, 100%, 76%);

$color-fondo: hsl(47, 47%, 96%);
$color-fuente-principal: #011f37;
