@use 'variables' as v;
@use 'mixins' as m;

main section {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  section article {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
  }
  
  .post {
    @include m.flex-container(flex, column, center, flex-start);
    flex: 1 1 calc(50% - 20px);
    max-width: 500px;
    margin: 10px;
    padding: 20px;
    border-radius: 2%;
    background-color: v.$color-fondo;
  
    .content {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin-top: 10px;
    }
  }
  
  .user {
    width: 100%;
    @include m.flex-container(flex, row, center, flex-start);
    gap: 10px;
    margin-left: 20px;
  }
  
  button.btn {
    background-color: v.$color-primario;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
