* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.index {
  display: grid;
  grid-template-areas: "header header header header" "aside main main main" "aside main main main" "aside main main main" "footer footer footer footer";
  grid-template-columns: 20% auto auto auto;
  font-family: "Roboto", sans-serif;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body.explorar {
  display: grid;
  grid-template-areas: "header header header header" "main main main aside" "main main main aside" "main main main aside" "footer footer footer footer";
  grid-template-columns: auto auto auto 20%;
  font-family: "Roboto", sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(0, 0%, 97%);
  position: sticky;
  top: 0;
  height: 60vh;
}

.explore {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 0.5rem;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 80%;
}
.topic-container h2 {
  font-size: 1.8rem;
}
.topic-container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
}

hr {
  width: 100%;
  height: 1px;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 20px;
}

.carousel-item {
  border-radius: 10%;
  max-width: 90%;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  aside {
    display: none;
  }
}
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: hsl(16, 100%, 43%);
}
.nav-bar img {
  width: 50px;
  height: auto;
  margin: 0 1rem;
}
.nav-bar .nav-contenedor {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-bar .nav-contenedor:first-child {
  flex: 1;
}
.nav-bar .nav-contenedor:nth-child(2) {
  flex: 2;
  justify-content: center;
}
.nav-bar .nav-contenedor:last-child {
  flex: 1;
  justify-content: flex-end;
  margin-right: 20px;
}
.nav-bar input,
.nav-bar button {
  height: 40px;
}
.nav-bar .nav-lista {
  display: flex;
  gap: 15px;
}
.nav-bar .nav-lista a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.nav-bar form {
  width: 100%;
  max-width: 300px;
}
.nav-bar form input[type=search] {
  width: 100%;
  padding: 8px;
  border-radius: 20px;
}
.nav-bar button {
  background-color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.nav-bar button:hover {
  background-color: hsl(0, 0%, 60%);
  border-color: hsl(0, 0%, 60%);
}
.nav-bar button svg {
  vertical-align: middle;
}
.nav-bar #nav-exp {
  align-items: baseline;
}

body {
  font-family: "Roboto", sans-serif;
}

main section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

section article {
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 calc(50% - 20px);
  max-width: 500px;
  margin: 10px;
  padding: 20px;
  border-radius: 2%;
  background-color: hsl(0, 0%, 97%);
}
.post .content {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

button.btn {
  background-color: hsl(16, 100%, 43%);
}

input[type=checkbox] {
  margin-right: 8px;
}

li {
  list-style: none;
}
li:hover {
  transform: scale(1.2);
}
li a {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

footer.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(16, 100%, 43%);
  color: white;
  padding: 0 20px;
  height: 80px;
  max-height: 80px;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 10px;
}
footer.footer .footer-social a img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  margin-top: 4px;
}
footer.footer .footer-social a img:hover {
  transform: scale(1.1);
}
footer.footer .footer-contact p,
footer.footer .footer-links a {
  color: white;
  text-decoration: none;
}
footer.footer .footer-contact p:hover,
footer.footer .footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .nav-elem {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .nav-elem a {
    display: block;
    width: 100%;
    text-align: center;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  form input[type=search] {
    width: 100%;
  }
  button {
    width: auto;
    margin: 0 auto;
  }
  .nav-container > div:nth-child(2) {
    display: none;
  }
  aside {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
